@model IEnumerable<IGrouping<Channel, QtySoldByChannelViewModel>>

<div>
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
        </p>
    </figure>
    <figure class="highcharts-figure">
        <div id="container1"></div>
        <p class="highcharts-description">
        </p>
    </figure>
</div>
@{
    var categories = string.Join(", ", this.Model.FirstOrDefault().Select(x => $"'{x.Date.ToShortDateString()}'"));
}
@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link href="~/css/HighCharts.css" asp-append-version="true" />
    <script>
   Highcharts.chart('container', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Sales comparasion for last 7 days ($)'
            },
            xAxis: {
                categories: [@Html.Raw(categories)]
            },
            yAxis: {
                title: {
                    text: 'Sales'
                },
            },
            tooltip: {
                crosshairs: true,
                shared: true,
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 3,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                },
       },
             series: [
                      @foreach (var group in Model)
                      {
                          @: { name: '@group.Key.ToString() ($)',
                          @:marker: {
                          @:    symbol: 'square'
                          @:},
                          @:data: [@string.Join(", ", group.Select(x => x.AmountSold))] },
                      }

            ]
        });
    </script>
    <script>
   Highcharts.chart('container1', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Sales comparasion for last 7 days (Qty)'
            },
            xAxis: {
                categories: [@Html.Raw(categories)]
            },
            yAxis: {
                title: {
                    text: 'Sales'
                },
            },
            tooltip: {
                crosshairs: true,
                shared: true,
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 3,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                },
       },
             series: [
                      @foreach (var group in Model)
                      {
                          @: { name: '@group.Key.ToString()',
                          @:marker: {
                          @:    symbol: 'square'
                          @:},
                          @:data: [@string.Join(", ", group.Select(x => x.QtySold))] },
                      }

            ]
        });
    </script>
}