@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h5 class="alert alert-success">Email confirmed successfully. <a asp-area="Identity" asp-page="/Account/Login">Click here</a> to login</h5>