@model IEnumerable<SelectListItem>

<label for="VendorId"> Vendor</label>
<select name="VendorId" id="VendorId" class="form-control" asp-items="Model">
    <option value="0">Choose Vendor</option>
</select>

