@model BrandViewModel
@section Breadcrumbs{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="ManageBrands">Manage Brands</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Brand</li>
        </ol>
    </nav>
}
<form asp-controller="Products" asp-action="AddBrand" method="post">
    <div>
        <div asp-validation-summary="All"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control col-md-3">
        <span asp-validation-for="Name" class="text-danger"></span><br />
    </div>
    <button class="btn btn-outline-primary" asp-controller="Products" asp-action="AddBrand">Add Brand</button>
</form>
