@model ManufacturerViewModel
@section Breadcrumbs{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Products/ManageManufacturers">Manage Manufacturers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Manufacturer</li>
        </ol>
    </nav>
}
<form asp-controller="Products" asp-action="AddManufacturer" method="post">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control col-md-3">
        <span asp-validation-for="Name" class="text-danger"></span><br />
    </div>
    <button class="btn btn-outline-primary" asp-controller="Products" asp-action="AddManufacturer">Add Manufacturer</button>
</form>
