@model WHMS.Data.Models.Products.Brand

<form asp-controller="Products" asp-action="AddManufacturer" method="post">
    <div>
        <label asp-for="Name">Manufacturer name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <button class="btn btn-outline-primary justify-content-center mt-2" asp-controller="Products" asp-action="AddManufacturer">Add Brand</button>
</form>
