@model AddProductViewModel

<form asp-controller="Products" asp-action="AddProduct" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="SKU">SKU</label>
        <input asp-for="SKU" class="form-control">
        <span asp-validation-for="SKU" class="text-danger"></span><br />
    </div>
    <div>
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control">
        <span asp-validation-for="ProductName" class="text-danger"></span><br />
    </div>
    <div>
        <label asp-for="ShortDescription">Short Description</label>
        <input asp-for="ShortDescription" class="form-control">
        <span asp-validation-for="ShortDescription" class="text-danger"></span><br />
    </div>
    <vc:condition-dropdown id= "0"></vc:condition-dropdown>
    <div class="mt-2">
        <label asp-for="UPC">UPC</label>
        <input asp-for="UPC" class="form-control">
        <span asp-validation-for="UPC" class="text-danger"></span><br />
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="WebsitePrice">Website Price</label>
            <input asp-for="WebsitePrice" class="form-control">
            <span asp-validation-for="WebsitePrice" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="WholesalePrice">Wholesale Price</label>
            <input asp-for="WholesalePrice" class="form-control">
            <span asp-validation-for="WholesalePrice" class="text-danger"></span><br />
        </div>

        <div class="col-sm-4">
            <label asp-for="Cost">Cost</label>
            <input asp-for="Cost" class="form-control">
            <span asp-validation-for="Cost" class="text-danger"></span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Height">Height</label>
            <input asp-for="Height" class="form-control">
            <span asp-validation-for="Height" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">

            <label asp-for="Width">Width</label>
            <input asp-for="Width" class="form-control">
            <span asp-validation-for="Width" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">

            <label asp-for="Lenght">Lenght</label>
            <input asp-for="Lenght" class="form-control">
            <span asp-validation-for="Lenght" class="text-danger"></span><br />
        </div>
    </div>
    <vc:brand-dropdown id="0"></vc:brand-dropdown>
    <vc:manufacturer-dropdown id="0"></vc:manufacturer-dropdown>


    <button class="btn btn-outline-primary justify-content-center mt-2" asp-controller="Products" asp-action="AddProduct">Add Product</button>
</form>