@model ManageBrandsViewModel
@{this.ViewData["Title"] = $"Manage brands";}
<div>
    <a type="button" class="btn-primary p-2" asp-action="AddBrand" role="button">Add Brand</a>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand Name</th>>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model.Brands)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.Name</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" for="@Model" />