@model ManageManufacturersViewModel

<div>
    <a type="button" class="btn-primary p-2" href="/Products/AddManufacturer" role="button">Add Manufacturer</a>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Manufacturer Name</th>>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <tr>
                <td>@manufacturer.Id</td>
                <td>@manufacturer.Name</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" for="@Model" />