@model ProductDetailsViewModel

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#LongDescription'
    });
</script>
<div>
    <a class="btn btn-success" asp-controller="Products" asp-action="ManageInventory" asp-route-id="@Model.Id"> Manage Inventory </a>
</div>

<form asp-controller="Products" asp-action="ProductDetails" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden />
    <div>
        <label asp-for="SKU">SKU</label>
        <input asp-for="SKU" disabled class="form-control">
    </div>
    <div class="row mt-2">
        <div class="col-sm-9">
            <div>
                <label asp-for="ProductName">Product Name</label>
                <input asp-for="ProductName" class="form-control">
                <span asp-validation-for="ProductName" class="text-danger"></span><br />
            </div>
            <div>
                <label asp-for="ShortDescription">Short Description</label>
                <input asp-for="ShortDescription" class="form-control">
                <span asp-validation-for="ShortDescription" class="text-danger"></span><br />
            </div>
            <vc:condition-dropdown id="Model.ManufacturerId ?? 0"></vc:condition-dropdown>
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="CreatedOn">Created On</label>
                    <input value="@Model.CreatedOn.ToShortDateString()" disabled class="form-control">
                    <span asp-validation-for="CreatedOn" class="text-danger"></span><br />
                </div>
                <div class="col-sm-4">
                    <label asp-for="CreatedByEmail">Created By</label>
                    <input asp-for="CreatedByEmail" disabled class="form-conssstrol">
                    <span asp-validation-for="CreatedByEmail" class="text-danger"></span><br />
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary float-right mt-2" href="/Products/ProductImages/@Model.Id">Manage Images</a>
                </div>
                
            </div>
        </div>
        <div class="card col-sm-3" style="width: 3rem;">
            <img class="card-img-top" src="@(!String.IsNullOrEmpty(Model.DefaultImage) ? Model.DefaultImage : "/img/noimage.png")" alt="Card image cap">
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="WebsitePrice">Website Price</label>
            <input asp-for="WebsitePrice" class="form-control">
            <span asp-validation-for="WebsitePrice" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="WholesalePrice">Wholesale Price</label>
            <input asp-for="WholesalePrice" class="form-control">
            <span asp-validation-for="WholesalePrice" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="MAPPrice">MAP Price</label>
            <input asp-for="MAPPrice" class="form-control">
            <span asp-validation-for="MAPPrice" class="text-danger"></span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Cost">Cost</label>
            <input asp-for="Cost" class="form-control">
            <span asp-validation-for="Cost" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="LastCost">Last Cost</label>
            <input asp-for="LastCost" class="form-control" disabled>
            <span asp-validation-for="LastCost" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="AverageCost">Average Cost</label>
            <input asp-for="AverageCost" class="form-control" disabled>
            <span asp-validation-for="AverageCost" class="text-danger"></span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Height">Height</label>
            <input asp-for="Height" class="form-control">
            <span asp-validation-for="Height" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="Width">Width</label>
            <input asp-for="Width" class="form-control">
            <span asp-validation-for="Width" class="text-danger"></span><br />
        </div>
        <div class="col-sm-4">
            <label asp-for="Lenght">Lenght</label>
            <input asp-for="Lenght" class="form-control">
            <span asp-validation-for="Lenght" class="text-danger"></span><br />
        </div>
    </div>

    <div>
        <label asp-for="LongDescription">Long Description</label>
        <input asp-for="LongDescription">
    </div>
    <p></p>
    <div class="mt-2">
        <label asp-for="LocationNotes">Location notes</label>
        <input asp-for="LocationNotes" class="form-control">
        <span asp-validation-for="LocationNotes" class="text-danger"></span><br />
    </div>
    <div class="mt-2">
        <label asp-for="UPC">UPC</label>
        <input asp-for="UPC" class="form-control">
        <span asp-validation-for="UPC" class="text-danger"></span><br />
    </div>
    <vc:brand-dropdown id="Model.BrandId ?? 0"></vc:brand-dropdown>
    <vc:manufacturer-dropdown id="Model.ManufacturerId ?? 0"></vc:manufacturer-dropdown>

    <button class="btn btn-outline-primary justify-content-center mt-2" asp-controller="Products" asp-action="ProductDetails">Submit Changes</button>
</form>

@section Scripts {
    <script>
        setTimeout(() => { document.getElementsByClassName("tox tox-silver-sink tox-tinymce-aux")[0].style = "none" }, 100);
    </script>
}