@model WHMS.Web.ViewModels.Products.ProductDetailsViewModel
  
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#LongDescription'
      });
    </script>

    <form asp-controller="Products" asp-action="ProductDetails" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="SKU">SKU</label>
            <input asp-for="SKU" disabled class="form-control">
        </div>
        <div class="row mt-2">
            <div class="col-sm-9">
                <div>
                    <label asp-for="ProductName">Product Name</label>
                    <input asp-for="ProductName" class="form-control">
                    <span asp-validation-for="ProductName" class="text-danger"></span><br />
                </div>
                <div>
                    <label asp-for="ShortDescription">Short Description</label>
                    <input asp-for="ShortDescription" class="form-control">
                    <span asp-validation-for="ShortDescription" class="text-danger"></span><br />
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="CreatedOn">Created On</label>
                        <input value="@Model.CreatedOn.ToShortDateString()" disabled class="form-control">
                        <span asp-validation-for="CreatedOn" class="text-danger"></span><br />
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="CreatedByEmail">Created By</label>
                        <input asp-for="CreatedByEmail" disabled class="form-control">
                        <span asp-validation-for="CreatedByEmail" class="text-danger"></span><br />
                    </div>
                </div>
            </div>
            <div class="card col-sm-3" style="width: 3rem;">
                <img class="card-img-top" src="@Model.DefaultImage" alt="Card image cap">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="WebsitePrice">Website Price</label>
                <input asp-for="WebsitePrice" class="form-control">
                <span asp-validation-for="WebsitePrice" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="WholesalePrice">Wholesale Price</label>
                <input asp-for="WholesalePrice" class="form-control">
                <span asp-validation-for="WholesalePrice" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="MAPPrice">MAP Price</label>
                <input asp-for="MAPPrice" class="form-control">
                <span asp-validation-for="MAPPrice" class="text-danger"></span><br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Cost">Cost</label>
                <input asp-for="Cost" class="form-control">
                <span asp-validation-for="Cost" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="LastCost">Last Cost</label>
                <input asp-for="LastCost" class="form-control" disabled>
                <span asp-validation-for="LastCost" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="AverageCost">Average Cost</label>
                <input asp-for="AverageCost" class="form-control" disabled>
                <span asp-validation-for="AverageCost" class="text-danger"></span><br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Height">Height</label>
                <input asp-for="Height" class="form-control">
                <span asp-validation-for="Height" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="Width">Width</label>
                <input asp-for="Width" class="form-control">
                <span asp-validation-for="Width" class="text-danger"></span><br />
            </div>
            <div class="col-sm-4">
                <label asp-for="Lenght">Lenght</label>
                <input asp-for="Lenght" class="form-control">
                <span asp-validation-for="Lenght" class="text-danger"></span><br />
            </div>
        </div>

        <div>
            <label asp-for="LongDescription">Long Description</label>
            <input asp-for="LongDescription">
        </div>

        <div class="mt-2">
            <label asp-for="LocationNotes">Location notes</label>
            <input asp-for="LocationNotes" class="form-control">
            <span asp-validation-for="Lenght" class="text-danger"></span><br />
        </div>
        <button class="btn btn-outline-primary justify-content-center mt-2" asp-controller="Products" asp-action="ProductDetails">Submit Changes</button>
    </form>